html {
  font-size: 40px; }

body {
  background-color: #FFF;
  margin: 0;
 }

* {
  box-sizing: border-box; }
.hidden{
    display: none
}
.visible{
    display:flex;
    animation-name: slideSideways;
    animation-duration: 1s;
}
.image{
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: puff;
    animation-duration: 1s;
}

.container{
  width: 100vw;
  display: flex;
  padding: 100px;
  font-family: Roboto, sans-serif
}

.slideButton{
  width: 100px;
  height: 100px;
  margin: 40px auto;
  border-radius: 50%;
  color: #000;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  line-height: 100px;
  background-color: #f08080;
  border: 1px solid #f08080;
}
.slideButton:hover{
  cursor: pointer;
  background-color: #B05050;
}
.titleBold{
  font-size: 10vh;
  font-weight: 700;
  padding: 40vh 0
}
.title{
  font-size: 10vh;
  font-weight: 400;
  padding: 40vh 0
}

b{
  font-weight: 700;
  font-size: 18px;
  text-align: left

}

.input{
  position: fixed;
  bottom: 10px;
}
.input input{
  height: 40px;
  width: 80vw;
  margin: 30px
}
.login{
  height: 50vh;
  display: flex;
  wrap: no-wrap;
  align-content: center;
  justify-content: center;
  align-items: center
}
@keyframes slideSideways{
  0% {transform: translateX(1000px)}
  80%{transform: translateX(-20px)}
  100%{transform: translateX(0px)}
}
@keyframes blush {
  0% { color: #ffb3ba ;transform: translateY(-5px)}
  60% { color: #FFb3ba; transform: translateY(-10px) }
  100% { color: #FAFAFA; transform: translateY(0px)}
}
@keyframes puff {
  from {opacity: 0.5;  transform: scale(0.95)};
  to {opacity: 1;  transform: scale(1)}
}
@keyframes smile{
  from{transform: translateY(-5px)};
  to{transform: translateY(0px)}
}
.blush{
  animation-name: blush;
  animation-duration: 1s;
}
.mouth{
  animation-name: smile;
  animation-duration: 1s;
}
.wrapper{
  position: fixed;
  height: 50vh;
  overflow-y: scroll;
}
.msg {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, Arial, sans-serif;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column-reverse

}
.logo{
  margin: 20px auto;
  overflow: hidden
}

.msg-piece{
  display: block;
  max-width: 300px;
  background-color:#ffb3ba;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px;
  animation-name: puff;
  animation-duration: 0.2s;

}
.right{
  background-color: #bae1ff;
  margin-left: 100px;
  border-radius: 20px 0 20px 20px;
  right: 20px;
}
.left{
  background-color:#ffb3ba;
  margin-right: 100px;
  border-radius: 0 20px 20px 20px;
  left: 20px;
  align-self: flex-start

}
.avatar{
  background-size: contain;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   margin: 5px;
   
}
.avatar:hover{
  border: 3px solid #BBB;
}
.user{
  align-self: flex-end;
}